services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hunnit_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      DATABASE_URL: postgresql+asyncpg://pguser:password@db:5432/hunnit_db
      OPENAI_API_KEY: ${OPENAI_API_KEY:-k-proj-KiMuBL17fKqBmZXYcKMRLE62XQmoEMKp1Xx8Tl0r6XqLY6YzZgF_xhUEbrZwMr3nU6n5HmNSytT3BlbkFJCu7GqnVNidxD26OJglgny545mIhCA1dZquDbp6se5bXvXkMSycaJO8rVtgdRHf-RNQBvisnNkA}

    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
